<body>



       
    <div class="sidebar">
        <header>Dashboard</header>
             <ul>
                 <li><a routerLink="../pro">Product</a></li>
                 <li><a href="userprofile">Userprofile</a></li>
                 <li><a href="mycart">My Cart</a></li>
                 <li><a href="myorder">My Order</a></li>
                 <li><a routerLink="../addressform">AddressForm</a></li>
                 <!-- <li><a href="#"></a></li> -->
                 </ul>
               </div>
             
               <router-outlet></router-outlet>

           
</body>

