<body>

<div class="container">
    <div style="text-align:center">
      <h2>Contact Us</h2>
      <p>Get quick customer suppport by selecting your item:</p>
    </div>
    <div class="row">
      <div class="column">
        <img src="../../assets/aum.jpg" style="width:100%">
      </div>
      <div class="column">
        <form action="/action_page.php">
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">
          <label for="country">Country</label>
          <select id="country" name="country">
            <option value="australia">Australia</option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
          </select>
          <label for="subject">Subject</label>
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>


</body>
<!-- new -->
<div class="about-section">
    <!-- <h1>About Us Page</h1>
    <p>Some text about who we are and what we do.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p> -->
  </div>
  
  <div class="container">
  <h1 style="text-align:center">Our Team</h1>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="../../assets/sundar.jpg" alt="Jane" style="width:100%">
       
        <div class="container">
          <h2>Jonathan Tsang
           </h2>
          <p class="title"> PRESIDENT, ECLICK GROUP</p>
          <p>Jonathan Tsang is President of the ASUS Group. From 2008 to 2018 he also served as Vice Chairman..</p>
          <p>Since joining ASUS in 1998, Mr. Tsang has guided international business strategies and corporate culture across the organization. Prior to 2008, he oversaw global sales, marketing, product management and customer service for ASUS. In his various roles, he has helped develop essential business principles to establish the highest standards for business practices and product quality, with the aim of winning the hearts of customers everywhere. Under his leadership, ASUS has expanded its international presence with hundreds of localized sales and service points around the world.</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../../assets/jony.jpg" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Jonney Shih</h2>
          <p class="title">
            CHAIRMAN
            </p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>Jonney Shih has served as the Chairman of ASUS since 1993, and until 2007 he also served as the Chief Executive Officer.
            As Chairman, Mr. Shih guides the company’s vision, corporate culture, and innovation strategies. Under his leadership, ASUS has become an internationally recognized technology leader that ranks No. 1 in worldwide sales of motherboards and No.3 in consumer notebooks. For the last several years, Fortune magazine has named ASUS as one of the World’s Most Admired Companies. Since 2013, ASUS has also been recognized as the most valuable international brand from Taiwan for five consecutive years, according to Interbrand.</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../../assets/sundar.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2>S.Y. Hsu
           
            </h2>
          <p class="title"> CO-CEO</p>
          <p>S.Y. Hsu drives technical strategy and R&D management, working in collaboration with co-CEO Samson Hu. His extensive technical expertise is inspiring a new generation of smart technology at ASUS.
          </p>
          <p>Mr. Hsu joined ASUS in 1993 as Senior Manager of the Motherboard Business Unit before serving as Vice President of the Eee Systems Business Unit, VP of the NoteBook Business Unit, COO, and VP of the Personal Computer Business Unit.Mr. Hsu holds a bachelor’s degree from National Taiwan University of Science and Technology, an Executive MBA from National Chengchi University in Taiwan, and a joint EMBA from National Taiwan/Fudan University.Under Mr. Hsu’s guidance, the motherboard R&D teams achieved multiple revolutionary.
            close
          </p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
</div>
</div>
  